.initialCell {
    display: flex;
    border: 0.5px solid black;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    background-color: rgba(0, 0, 0, 0.259);

}
.active {
    display: flex;
    border: 0.5px solid black;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    /* background-image: url("./somedancers.gif"); */
    background-image: url("./200w.webp");
    background-size: contain;

}
.dead {
    display: flex;
    border: 0.5px solid black;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    background-image: url("./dead.png");
    background-size: contain;

}

.cells--grid--10 {
    display: grid;
    grid-template-columns: 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
}

.cells--grid--20 {
    display: grid;
    grid-template-columns: 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
}

.cells--grid--30 {
    display: grid;
    grid-template-columns: 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
}

.village--form {
    display: flex;
    flex-direction: column;
}
/* body{
    background-image: url("./background.jpg");
    background-size: 100%;
} */

select {
    margin-inline: 5px;
}

input {
    margin-inline: 5px;
}