.initialCell {
    display: flex;
    border: 0.5px solid black;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;

}
.active {
    display: flex;
    border: 0.5px solid black;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    /* background-image: url("./somedancers.gif"); */
    background-image: url("./200w.webp");
    background-size: contain;

}
.dead {
    display: flex;
    border: 0.5px solid black;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    background-image: url("./dead.png");
    background-size: contain;

}

.cells--grid {
    display: grid;
    grid-template-columns: 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
}

body{
    background-image: url("./background.jpg");
    background-size: 100%;
}