body#home {
    background-image: url("homePainting.png");
    background-attachment: unset;
    background-size: cover;
    background-color: antiquewhite;
    background-position-y: 19px;
    overflow: hidden;
}

.home {
    display: flex;
    font-size: large;
}

.welcome {
    width: 100%;
    flex-direction: column;
    font-size: xxx-large;
    font-weight: bold;
}

.side--header {
    font-size: 30px;
    font-weight: 600;
    text-decoration: underline;
}

.right--home {
    display: flex;
    width: 75%;
    padding-left: 3%;
}

.home--list {
    padding: 0;
    margin-top: 0px;
}

li {
    padding-left: 8px;
    padding-top: 5px;
    margin: 1px;
    display: flex;
    flex-direction: column;
    background-color: rgba(207, 241, 254, 0.8);
    border-radius: 15px;
    width: 25%;
    border: 1px solid rgba(1, 1, 71, 0.315);
}

ul.home--list li {
    width: 25%;
    min-width: 25vh;
}

@keyframes burn {
    0% {
        opacity: 100%
    }

    80% {
        opacity: 25%
    }

    90% {
        opacity: 10%
    }

    100% {
        opacity: 0%;
        visibility: hidden;
    }
}

ul.home--list li.razing {
    background-image: url("Burning.gif");
    background-position: -3px;
    background-size: 105%;
    /* animation-name: burn;
    animation-duration: 5s; */
    visibility: visible;
    opacity: 0;
    transition: opacity 14s ease-out;
}

li div {
    display: flex;
    flex-direction: column;
}

li div:first-child {
    font-size: large;
}

li div:not(:first-child) {
    font-size: medium;
    padding-left: 10%;
    font-family: "papyrus";
    font-weight: 600;
}

div button.raze {
    display: flex;
    justify-self: center;
    width: fit-content;
    align-self: center;
    border-radius: 50px;
    background-color: rgb(84, 3, 19);
    color: rgb(198, 3, 3);
    margin-top: 2px;
    margin-bottom: 2px;
}

.home--list {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 77vh;
}

li {
    margin: 7px;
    margin-top: 3px;
}

.left--home {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-left: 2%;
}

.stats--container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
    margin-right: 7%;
}

.home--stats {
    background-color: rgba(207, 241, 254, 0.8);
    font-size: x-large;
    display: flex;
    flex-direction: column;
    padding-left: 7px;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-top: 1%;
    margin-bottom: 5%;
    width: 100%;
    border-radius: 15px;
    border: 1px solid rgba(1, 1, 71, 0.315);
}

.stat:first-child {
    padding-top: 8%;
}

.stat {
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 5px;
    width: 100%;
    font-family: "papyrus";
    font-weight: 600;
}