.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(82, 82, 82);
    margin-left: -5.5%;
}

.navdiv{
    display: flex;
    align-self: flex-start;
    background-color: rgb(116, 116, 119);
    margin: 1px;
    padding: 3px;
    border-radius: 150px;
    border-right: 2px solid black;
    border-bottom: .5px solid black;
}

.navdiv#user{
    font-weight: bold;
}